html {
    background-color: #ffadad;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}


.logInfo {
    position: absolute;
    top: 40%;
    left: 50%;
    background: rgb(157, 208, 255);
    width: 285px;
    margin: -140px 0 0 -182px;
    padding: 40px;
}

.logInfo input{
    outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 15px 15px;
      border: 1px solid rgb(157, 208, 255);
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      font-size: 16px;
}

.logInfo input:focus {
        border: 1px solid rgb(157, 208, 255);
}

.logInfo button{
    cursor: pointer;
    background: #ffadad;
    width: 100%;
    padding: 17px 15px;
    border: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
}

.logInfo button:hover{
    background-color:rgb(59, 99, 136);
}



nav ul {
    list-style-type: none;
    padding:0;
    overflow: hidden;
    background: rgb(157, 208, 255);
}

nav ul li{
    float: left;
}

nav ul li button{
    text-align: center;
    border:none;
    padding: 20px  30px;
    text-decoration: none;
    background-color:rgb(157, 208, 255);
    font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
}

nav ul li button:hover{
    cursor:pointer;
    background-color:#f2cb97;
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 20px;
    color: black;
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    cursor:pointer;
    background-color:#f2cb97;
}

table{
    background: rgb(157, 208, 255);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 14px;
    text-align: center;
}
table, tr,th {
    border: 1px solid;
}

th{
    background:#fdc47a;
}

th, td{
    padding: 5px;
}



.accountInfo {
    position: absolute;
    top: 40%;
    left: 50%;
    background: #fff;
    width: 285px;
    margin: -140px 0 0 -182px;
    padding: 40px;
}

.accountInfo input{
    outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
}

.accountInfo input:focus {
        border: 1px solid #f8d8ae;
}

.accountInfo button{
    cursor: pointer;
    background: #fdc47a;
    width: 100%;
    padding: 10px 15px;
    border: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
}

.accountInfo button:hover{
    background-color:#f2cb97;
}

p{
    text-align: center;
}

hr{
    background-color:#fdc47a;
    height: 2px;
}


.subInfo {
    position: absolute;
    top: 40%;
    left: 50%;
    background: #fff;
    width: 285px;
    margin: -140px 0 0 -182px;
    padding: 40px;
}

.subInfo select{
    outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
}

.subInfo input{
    outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
}

.subInfo input:focus {
        border: 1px solid #f8d8ae;
}

.subInfo button{
    cursor: pointer;
    background: #fdc47a;
    width: 100%;
    padding: 10px 15px;
    border: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
}

.subInfo button:hover{
    background-color:#f2cb97;
}

.viewRequests {
   margin-left: auto;
   margin-right: auto;
   width:25%;
}

.viewRequests select{
    outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
}

.viewRequests input{
    outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
}

.viewRequests input:focus {
        border: 1px solid #f8d8ae;
}

.viewRequests button{
    cursor: pointer;
    background: #fdc47a;
    width: 100%;
    padding: 10px 15px;
    border: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
}

.viewRequests button:hover{
    background-color:#f2cb97;
}


img{
    border-radius: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    max-width: 100%;
     height: 50%;
    
}


footer{
    position:fixed;
    bottom:0;
    padding:10px;
    width:100%;
    background-color: rgb(157, 208, 255);
    text-align: center;
    }